<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="archive">${log-path}</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="pack1Appender" fileName="pack1.log" filePattern="pack1.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
        <RollingFile name="MainClassAppender" fileName="MainClass.log" filePattern="MainClass.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
          <RollingFile name="AideAppender" fileName="Aide.log" filePattern="Aide.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pack1" level="debug" additivity="true">
            <appender-ref ref="pack1Appender" level="debug" />
        </Logger>
        <Logger name="MainClass" level="debug" additivity="true">
            <appender-ref ref="MainClassAppender" level="debug" />
        </Logger>
        <Logger name="Aide" level="debug" additivity="true">
            <appender-ref ref="AideAppender" level="debug" />
        </Logger>
        
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>